body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: red;
}



.react-fancybox{
  img{
    width: 100%;
  }
}

.test-app__content{
  form{
    margin-bottom: 30px;
    border: 2px solid #fff;
    &.invalid{
      border: 2px solid red;
    }
  }

  .result{
    position: fixed;
    bottom: 30px;
    right: 30px;
  }

}